# First hands-on session

### Leonardo Alchieri, Universit√† della Svizzera Italiana

#### 10 Nov 2025, Istituto Nazionale dei Tumori, Milano

## 1. Installation

### Install Anaconda from https://www.anaconda.com/products/distribution.

You need to create an account before installing.

### Install Visual Studio Code

You may already have it. You can install it from https://code.visualstudio.com/, **or** you can install directly from the Anaconda Navigator (recommended).

### Open this notebook in VS Code!

## 2. How to work with python

### Two main approaches:
#### 1. Script files (.py)
#### 2. Notebooks (.ipynb)

We'll use **notebooks** for this course.

### What's the difference?

- Script files are just text files with python code. You can run them from the command line or from an IDE (like VS Code). You run the whole file at once.

- Notebooks are interactive documents that can contain both code and rich text (like this one!). You can run code **cell by cell**, which is great for experimentation and learning.

### File Example

![Example image](/Users/leonardoalchieri/Desktop/GIT-Mine/Python-Lecture-Ele/images/file-example.png)

### Example notebook

![Example image](/Users/leonardoalchieri/Desktop/GIT-Mine/Python-Lecture-Ele/images/notebook-example.png)

### We'll use notebooks for this course!

### Select the correct python environment!

1. Create a new environment using Anaconda Navigator.

2. Install the following package: `notebook`

3. Inside VS Code, select the correct environment from the top-right corner.

![VSCode Env Selection](/Users/leonardoalchieri/Desktop/GIT-Mine/Python-Lecture-Ele/images/vs-code-env-selection.png)

## 3. Some basics!

Let's start from the basics!

### Define veriables

In [2]:
a = 3 # integer
b = "ciao" # string
c = 4.5 # float
d = True # boolean
e = [1, 2, 3] # list of integers
f = ["uno", "due", "tre"] # list of strings
g = [1, "due", 3.0, False] # list of mixed

Python works with variables. Everything is a variable!

Variables have types. In the example above, we saw 4 types. But there's more!

### Functions (or methods)

In python you can define functions. Think of them as mathematical function, of the type $f(x)$, where $x$ is an input variable.

For example, we can define the function
$$
f(x) = x^2 + 2x + 1
$$

In [3]:
def square(x):
    return x**2 + 2*x + 1

In [4]:
a = 5
result = square(x=a)
print("The result is:", result)

The result is: 36

### Classes

In Python you can also define **classes**. A class is an element that contains multiple functions and variables. 

You can think of a class as a "blueprint" for creating objects that share common properties and behaviors.

In [5]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        return "Woof!"

    def get_info(self):
        return f"{self.name} is {self.age} years old."

In [6]:
eles_dog = Dog(name="Cody", age=5)

eles_dog.bark()

'Woof!'

In [7]:
eles_dog.get_info()

'Cody is 5 years old.'

In [8]:
leos_dog = Dog(name="Ugo", age=8)

## 4. First exercise!

Now, you'll try to create variables and methods.

Given a list of floating point numbers, create a method that computes the square root of the sum of the numbers. Basically, create a method a method in python for the following function:
$$
f(x_1, x_2, \ldots, x_n) = \sqrt{x_1 + x_2 + \ldots + x_n}
$$

**Some help**: 

- A list is a variable, so for example you can write `my_list = [1.0, 2.0, 3.0]` to create a list of 3 floating point numbers. Your function can also take a list as input!
- `Python` as a few built-in methods. For example, to compute the sum of a list, you can do `sum(my_list)`. To compute the expontential of a variable, see example above.
- Use the print function to see your results. The function work as follow:

In [9]:
result_variable = 'tutto bene'
print("The result is:", result_variable)

The result is: tutto bene

## 5. External Libraries

Python relies on external libraries for many functionalities.

For you, the most important library is `pandas`.

### How to install?

Two options:

1. Use the Anaconda Navigator!

2. Run the following code inside the notebook:
```python
!conda install pandas -y
```

`pandas` is a library to handle tables! It allows to play with them easily.

In [11]:
import pandas

It will take some time the first time you use Pandas.

When importing libraries, often it's convenient to shorten the name.

In [12]:
import pandas as pd

To load a table, you can do the following:

In [14]:
data = pd.read_csv("./data/example-basic-table.csv")

In [15]:
display(data.head())

      Name      Height  Score
0    Alice  157.599694     82
1  Charlie  144.714313     71
2    Diana  158.924883     78
3      Bob  164.002473     56
4  Charlie  174.678218     37

The `display` function allows to see tables in a nice way!

Pandas allows to do some operations on this table.

In [16]:
data['Name'].mode()

0    Charlie
Name: Name, dtype: object

In [17]:
data['Height'].mean()

np.float64(169.34066379247287)

In [18]:
data[data['Name'] == 'Alice']['Score'].max()

np.int64(99)

In [19]:
data.describe()

           Height       Score
count  100.000000  100.000000
mean   169.340664   54.640000
std     10.411916   28.442932
min    144.714313    0.000000
25%    160.905621   35.750000
50%    168.641055   58.000000
75%    177.170304   78.500000
max    193.249929   99.000000

## 6. Second exercise!

Using `pandas` and the `example-basic-table.csv` file, do the following:
- Find the average score of people named "Alice".
- Find the minimum score of people named "Bob" and whose height is above 170 cm.
- Create a method to compute the following function:
$$
f(height, score) = \frac{height + score}{2}
$$

**Some help**: 

- To use methods with pandas tables, you can use the `apply` function. The `apply` function returns a column (or multiple) of a dataframe. For example, if you have a method that, from the height, tells you if you are tall or short, you can do the following: