In [7]:
import json
from pathlib import Path



for path in Path('../notebooks_with_solutions').glob('**.ipynb'):
    # Load notebook
    with open(path, 'r') as f:
        notebook = json.load(f)

    # Filter out hidden cells
    notebook['cells'] = [cell for cell in notebook['cells'] 
                        if not cell.get('metadata', {}).get('slideshow', {}).get("slide_type", False) == 'skip']

    # Save filtered notebook
    new_path = Path('..') / f"{path.stem}-CLEAN{path.suffix}"
    with open(new_path, 'w', encoding='utf-8') as f:
        json.dump(notebook, f, indent=1)

In [ ]:
notebook['cells']

[{'cell_type': 'markdown',
  'id': '54e784ac',
  'metadata': {'slideshow': {'slide_type': 'slide'}},
  'source': ['# First hands-on session\n',
   '\n',
   '### Leonardo Alchieri, Universit√† della Svizzera Italiana\n',
   '\n',
   '#### 10 Nov 2025, Istituto Nazionale dei Tumori, Milano']},
 {'cell_type': 'markdown',
  'id': '2b839e33',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['## 1. Installation\n',
   '\n',
   '### Install Anaconda from https://www.anaconda.com/products/distribution.\n',
   '\n',
   'You need to create an account before installing.']},
 {'cell_type': 'markdown',
  'id': '2e8bbd02',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['### Install Visual Studio Code\n',
   '\n',
   'You may already have it. You can install it from https://code.visualstudio.com/, **or** you can install directly from the Anaconda Navigator (recommended).']},
 {'cell_type': 'markdown',
  'id': '3e77b79a',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['### Open this notebook in VS Code!']},
 {'cell_type': 'markdown',
  'id': '35c3bf71',
  'metadata': {'slideshow': {'slide_type': 'slide'}},
  'source': ['## 2. How to work with python']},
 {'cell_type': 'markdown',
  'id': '520d623a',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['### Two main approaches:\n',
   '#### 1. Script files (.py)\n',
   '#### 2. Notebooks (.ipynb)\n',
   '\n',
   "We'll use **notebooks** for this course. "]},
 {'cell_type': 'markdown',
  'id': 'a4319f89',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ["### What's the difference?"]},
 {'cell_type': 'markdown',
  'id': 'e6bb72a3',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['- Script files are just text files with python code. You can run them from the command line or from an IDE (like VS Code). You run the whole file at once.']},
 {'cell_type': 'markdown',
  'id': '7afe1335',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['- Notebooks are interactive documents that can contain both code and rich text (like this one!). You can run code **cell by cell**, which is great for experimentation and learning.']},
 {'cell_type': 'markdown',
  'id': '238c1383',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['### File Example\n',
   '\n',
   '![Example image](/Users/leonardoalchieri/Desktop/GIT-Mine/Python-Lecture-Ele/images/file-example.png)']},
 {'cell_type': 'markdown',
  'id': '87e10ca3',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['### Example notebook\n',
   '\n',
   '![Example image](/Users/leonardoalchieri/Desktop/GIT-Mine/Python-Lecture-Ele/images/notebook-example.png)']},
 {'cell_type': 'markdown',
  'id': '1b9f9434',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ["### We'll use notebooks for this course!"]},
 {'cell_type': 'markdown',
  'id': 'e5e8ff23',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['### Select the correct python environment!']},
 {'cell_type': 'markdown',
  'id': '8a5122f4',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['1. Create a new environment using Anaconda Navigator.']},
 {'cell_type': 'markdown',
  'id': 'fa3e764b',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['2. Install the following package: `notebook`']},
 {'cell_type': 'markdown',
  'id': 'f0bdd0ca',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['3. Inside VS Code, select the correct environment from the top-right corner.\n',
   '\n',
   '![VSCode Env Selection](/Users/leonardoalchieri/Desktop/GIT-Mine/Python-Lecture-Ele/images/vs-code-env-selection.png)']},
 {'cell_type': 'markdown',
  'id': 'd58014cf',
  'metadata': {'slideshow': {'slide_type': 'slide'}},
  'source': ['## 3. Some basics!\n', '\n', "Let's start from the basics!\n"]},
 {'cell_type': 'markdown',
  'id': '55600f42',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['### Define veriables\n']},
 {'cell_type': 'code',
  'execution_count': 2,
  'id': '710ae12f',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [],
  'source': ['a = 3 # integer\n',
   'b = "ciao" # string\n',
   'c = 4.5 # float\n',
   'd = True # boolean\n',
   'e = [1, 2, 3] # list of integers\n',
   'f = ["uno", "due", "tre"] # list of strings\n',
   'g = [1, "due", 3.0, False] # list of mixed']},
 {'cell_type': 'markdown',
  'id': 'fe5b7380',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['Python works with variables. Everything is a variable!\n',
   '\n',
   "Variables have types. In the example above, we saw 4 types. But there's more!"]},
 {'cell_type': 'markdown',
  'id': '1bcbacc5',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['### Functions (or methods)\n',
   '\n',
   'In python you can define functions. Think of them as mathematical function, of the type $f(x)$, where $x$ is an input variable.']},
 {'cell_type': 'markdown',
  'id': 'a6a6404f',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['For example, we can define the function\n',
   '$$\n',
   'f(x) = x^2 + 2x + 1\n',
   '$$']},
 {'cell_type': 'code',
  'execution_count': 3,
  'id': 'ac7a3b7f',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [],
  'source': ['def square(x):\n', '    return x**2 + 2*x + 1']},
 {'cell_type': 'code',
  'execution_count': 4,
  'id': '8dddf7b6',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ['The result is: 36\n']}],
  'source': ['a = 5\n',
   'result = square(x=a)\n',
   'print("The result is:", result)']},
 {'cell_type': 'markdown',
  'id': '3a318b74',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['### Classes\n',
   '\n',
   'In Python you can also define **classes**. A class is an element that contains multiple functions and variables. \n',
   '\n',
   'You can think of a class as a "blueprint" for creating objects that share common properties and behaviors.']},
 {'cell_type': 'code',
  'execution_count': 5,
  'id': 'ad7e7fb0',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'outputs': [],
  'source': ['class Dog:\n',
   '    def __init__(self, name, age):\n',
   '        self.name = name\n',
   '        self.age = age\n',
   '\n',
   '    def bark(self):\n',
   '        return "Woof!"\n',
   '\n',
   '    def get_info(self):\n',
   '        return f"{self.name} is {self.age} years old."']},
 {'cell_type': 'code',
  'execution_count': 6,
  'id': '1bbbbd69',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/plain': ["'Woof!'"]},
    'execution_count': 6,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['eles_dog = Dog(name="Cody", age=5)\n', '\n', 'eles_dog.bark()']},
 {'cell_type': 'code',
  'execution_count': 7,
  'id': 'f4fc0bc2',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/plain': ["'Cody is 5 years old.'"]},
    'execution_count': 7,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['eles_dog.get_info()']},
 {'cell_type': 'code',
  'execution_count': 8,
  'id': '0ac13e3c',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [],
  'source': ['leos_dog = Dog(name="Ugo", age=8)']},
 {'cell_type': 'markdown',
  'id': '5d2fad7f',
  'metadata': {'slideshow': {'slide_type': 'slide'}},
  'source': ['## 4. First exercise!']},
 {'cell_type': 'markdown',
  'id': '297db359',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ["Now, you'll try to create variables and methods."]},
 {'cell_type': 'markdown',
  'id': '2671bf08',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['Given a list of floating point numbers, create a method that computes the square root of the sum of the numbers. Basically, create a method a method in python for the following function:\n',
   '$$\n',
   'f(x_1, x_2, \\ldots, x_n) = \\sqrt{x_1 + x_2 + \\ldots + x_n}\n',
   '$$']},
 {'cell_type': 'markdown',
  'id': '1dfa28b9',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['**Some help**: \n',
   '\n',
   '- A list is a variable, so for example you can write `my_list = [1.0, 2.0, 3.0]` to create a list of 3 floating point numbers. Your function can also take a list as input!\n',
   '- `Python` as a few built-in methods. For example, to compute the sum of a list, you can do `sum(my_list)`. To compute the expontential of a variable, see example above.\n',
   '- Use the print function to see your results. The function work as follow: ']},
 {'cell_type': 'code',
  'execution_count': 9,
  'id': 'df886872',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ['The result is: tutto bene\n']}],
  'source': ["result_variable = 'tutto bene'\n",
   'print("The result is:", result_variable)']},
 {'cell_type': 'code',
  'execution_count': 10,
  'id': '8629b2c0',
  'metadata': {'slideshow': {'slide_type': 'skip'}},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ['The square root of the sum is: 5.6964901474504455\n']}],
  'source': ['my_list = [4.0, 9.0, 16.0, 3.45]\n',
   '\n',
   'def sum_sqrt(numbers):\n',
   '    total = sum(numbers)\n',
   '    return total ** 0.5\n',
   '\n',
   'print("The square root of the sum is:", sum_sqrt(my_list))']},
 {'cell_type': 'markdown',
  'id': '151dd937',
  'metadata': {'slideshow': {'slide_type': 'slide'}},
  'source': ['## 5. External Libraries']},
 {'cell_type': 'markdown',
  'id': '40abe5db',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['Python relies on external libraries for many functionalities.\n',
   '\n',
   'For you, the most important library is `pandas`.']},
 {'cell_type': 'markdown',
  'id': '8b56e210',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['### How to install?\n', '\n', 'Two options:']},
 {'cell_type': 'markdown',
  'id': 'f7873658',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['1. Use the Anaconda Navigator!']},
 {'cell_type': 'markdown',
  'id': '505ec36e',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['2. Run the following code inside the notebook:\n',
   '```python\n',
   '!conda install pandas -y\n',
   '```']},
 {'cell_type': 'markdown',
  'id': 'd498ffe9',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['`pandas` is a library to handle tables! It allows to play with them easily.']},
 {'cell_type': 'code',
  'execution_count': 11,
  'id': 'd9ad787f',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [],
  'source': ['import pandas']},
 {'cell_type': 'markdown',
  'id': 'a0c485ee',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['It will take some time the first time you use Pandas.']},
 {'cell_type': 'markdown',
  'id': '1e498613',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ["When importing libraries, often it's convenient to shorten the name."]},
 {'cell_type': 'code',
  'execution_count': 12,
  'id': 'cfbbed41',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [],
  'source': ['import pandas as pd']},
 {'cell_type': 'code',
  'execution_count': 13,
  'id': '08d0d477',
  'metadata': {'slideshow': {'slide_type': 'skip'}},
  'outputs': [],
  'source': ['import pandas as pd\n',
   'import numpy as np\n',
   '\n',
   'random_array_a = np.random.randint(low=0, high=100, size=(100, ))\n',
   "random_array_names = np.random.choice(['Alice', 'Bob', 'Charlie', 'Diana'], size=(100, ))\n",
   'random_array_height = np.random.normal(loc=170, scale=10, size=(100, ))\n',
   '\n',
   'data = dict(Name=random_array_names,\n',
   '            Height=random_array_height,\n',
   '            Score=random_array_a)\n',
   '\n',
   'df = pd.DataFrame(data)\n',
   'df.to_csv("./data/example-basic-table.csv", index=False)']},
 {'cell_type': 'markdown',
  'id': 'c2c4b9e2',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['To load a table, you can do the following:']},
 {'cell_type': 'code',
  'execution_count': 14,
  'id': '32331fde',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [],
  'source': ['data = pd.read_csv("./data/example-basic-table.csv")']},
 {'cell_type': 'code',
  'execution_count': 15,
  'id': '09873b2e',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/html': ['<div>\n',
      '<style scoped>\n',
      '    .dataframe tbody tr th:only-of-type {\n',
      '        vertical-align: middle;\n',
      '    }\n',
      '\n',
      '    .dataframe tbody tr th {\n',
      '        vertical-align: top;\n',
      '    }\n',
      '\n',
      '    .dataframe thead th {\n',
      '        text-align: right;\n',
      '    }\n',
      '</style>\n',
      '<table border="1" class="dataframe">\n',
      '  <thead>\n',
      '    <tr style="text-align: right;">\n',
      '      <th></th>\n',
      '      <th>Name</th>\n',
      '      <th>Height</th>\n',
      '      <th>Score</th>\n',
      '    </tr>\n',
      '  </thead>\n',
      '  <tbody>\n',
      '    <tr>\n',
      '      <th>0</th>\n',
      '      <td>Alice</td>\n',
      '      <td>157.599694</td>\n',
      '      <td>82</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>1</th>\n',
      '      <td>Charlie</td>\n',
      '      <td>144.714313</td>\n',
      '      <td>71</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>2</th>\n',
      '      <td>Diana</td>\n',
      '      <td>158.924883</td>\n',
      '      <td>78</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>3</th>\n',
      '      <td>Bob</td>\n',
      '      <td>164.002473</td>\n',
      '      <td>56</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>4</th>\n',
      '      <td>Charlie</td>\n',
      '      <td>174.678218</td>\n',
      '      <td>37</td>\n',
      '    </tr>\n',
      '  </tbody>\n',
      '</table>\n',
      '</div>'],
     'text/plain': ['      Name      Height  Score\n',
      '0    Alice  157.599694     82\n',
      '1  Charlie  144.714313     71\n',
      '2    Diana  158.924883     78\n',
      '3      Bob  164.002473     56\n',
      '4  Charlie  174.678218     37']},
    'metadata': {},
    'output_type': 'display_data'}],
  'source': ['display(data.head())']},
 {'cell_type': 'markdown',
  'id': '1b737b55',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['The `display` function allows to see tables in a nice way!']},
 {'cell_type': 'markdown',
  'id': 'be154a50',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['Pandas allows to do some operations on this table.']},
 {'cell_type': 'code',
  'execution_count': 16,
  'id': '67bc464e',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/plain': ['0    Charlie\n',
      'Name: Name, dtype: object']},
    'execution_count': 16,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ["data['Name'].mode()"]},
 {'cell_type': 'code',
  'execution_count': 17,
  'id': 'e50db94e',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/plain': ['np.float64(169.34066379247287)']},
    'execution_count': 17,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ["data['Height'].mean()"]},
 {'cell_type': 'code',
  'execution_count': 18,
  'id': 'e2107c54',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/plain': ['np.int64(99)']},
    'execution_count': 18,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ["data[data['Name'] == 'Alice']['Score'].max()"]},
 {'cell_type': 'code',
  'execution_count': 19,
  'id': '76eb9bd8',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/html': ['<div>\n',
      '<style scoped>\n',
      '    .dataframe tbody tr th:only-of-type {\n',
      '        vertical-align: middle;\n',
      '    }\n',
      '\n',
      '    .dataframe tbody tr th {\n',
      '        vertical-align: top;\n',
      '    }\n',
      '\n',
      '    .dataframe thead th {\n',
      '        text-align: right;\n',
      '    }\n',
      '</style>\n',
      '<table border="1" class="dataframe">\n',
      '  <thead>\n',
      '    <tr style="text-align: right;">\n',
      '      <th></th>\n',
      '      <th>Height</th>\n',
      '      <th>Score</th>\n',
      '    </tr>\n',
      '  </thead>\n',
      '  <tbody>\n',
      '    <tr>\n',
      '      <th>count</th>\n',
      '      <td>100.000000</td>\n',
      '      <td>100.000000</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>mean</th>\n',
      '      <td>169.340664</td>\n',
      '      <td>54.640000</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>std</th>\n',
      '      <td>10.411916</td>\n',
      '      <td>28.442932</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>min</th>\n',
      '      <td>144.714313</td>\n',
      '      <td>0.000000</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>25%</th>\n',
      '      <td>160.905621</td>\n',
      '      <td>35.750000</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>50%</th>\n',
      '      <td>168.641055</td>\n',
      '      <td>58.000000</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>75%</th>\n',
      '      <td>177.170304</td>\n',
      '      <td>78.500000</td>\n',
      '    </tr>\n',
      '    <tr>\n',
      '      <th>max</th>\n',
      '      <td>193.249929</td>\n',
      '      <td>99.000000</td>\n',
      '    </tr>\n',
      '  </tbody>\n',
      '</table>\n',
      '</div>'],
     'text/plain': ['           Height       Score\n',
      'count  100.000000  100.000000\n',
      'mean   169.340664   54.640000\n',
      'std     10.411916   28.442932\n',
      'min    144.714313    0.000000\n',
      '25%    160.905621   35.750000\n',
      '50%    168.641055   58.000000\n',
      '75%    177.170304   78.500000\n',
      'max    193.249929   99.000000']},
    'execution_count': 19,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['data.describe()']},
 {'cell_type': 'markdown',
  'id': 'f94e565e',
  'metadata': {'slideshow': {'slide_type': 'slide'}},
  'source': ['## 6. Second exercise!']},
 {'cell_type': 'markdown',
  'id': 'a2896a49',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'source': ['Using `pandas` and the `example-basic-table.csv` file, do the following:\n',
   '- Find the average score of people named "Alice".\n',
   '- Find the minimum score of people named "Bob" and whose height is above 170 cm.\n',
   '- Create a method to compute the following function:\n',
   '$$\n',
   'f(height, score) = \\frac{height + score}{2}\n',
   '$$']},
 {'cell_type': 'markdown',
  'id': '7ab21e05',
  'metadata': {'slideshow': {'slide_type': 'subslide'}},
  'source': ['**Some help**: \n',
   '\n',
   '- To use methods with pandas tables, you can use the `apply` function. The `apply` function returns a column (or multiple) of a dataframe. For example, if you have a method that, from the height, tells you if you are tall or short, you can do the following:']},
 {'cell_type': 'code',
  'execution_count': 20,
  'id': '76e83c39',
  'metadata': {'slideshow': {'slide_type': 'fragment'}},
  'outputs': [{'data': {'text/plain': ['0    short\n',
      '1    short\n',
      '2    short\n',
      '3    short\n',
      '4    short\n',
      'Name: Height, dtype: object']},
    'metadata': {},
    'output_type': 'display_data'}],
  'source': ['def tall_or_short(height):\n',